{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <p>{{'qr.download_text'|trans|raw}}</p>
        <p><a href="{{path('course', {'course': qrset.course.id})}}">{{'qr.return_course'|trans}}</a></p>
    </div>
</section>
{% endblock %}