{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <p>Download will start soon. If the print dialog does not open in the next few seconds click <a id="qr-download-link" href="{{path('generate_qr', {'qrset': qrset.id, 'quantity': quantity})}}">here</a>.</p>
        <p><a href="{{path('course', {'course': qrset.course.id})}}">Return to course</a></p>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/pages/download.js')}}"></script>
{% endblock %}