<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
            {% include 'PixelbonusSiteBundle:QR:qr_template_font.css.twig' %}
            body {
                margin: 0;
                font-family:'LucidaLocal Console', monospace;
            }
            .border {
                border: 1px solid black;
            }
            .table {
                border-collapse: collapse;
                width: 100%;
                page-break-inside: avoid;
            }
            .table tr {
                height: 143px;
                overflow: hidden;
            }
            .table td {
                height: 140px;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        {% for batchedQrImages in qrImages|batch(18) %}
            <table class="table">
            {% for row in batchedQrImages|batch(2) %}
                <tr class="tr-avoid-break">
                    {% for qr in row %}
                    <td class="border">
                        <div style="width: 100%; height: 140px; overflow: hidden;">
                            {% set qrLinkParts = qr.link|split('', qr.link|length//2) %}
                            <div style="display: inline-block; vertical-align: middle; height: 140px; overflow: hidden;">{{qr.svg|raw}}</div>
                            <div style="display: inline-block; vertical-align: middle; height: 60px; overflow: hidden;">
                                <div>{{qrLinkParts[0]|split('', 4)|join(' ')}}<BR />{{qrLinkParts[1]|split('', 4)|join(' ')}}</div>
                                <div style="margin-top: 10px; text-align: center;"><small>{{app.request.host}}</small></div>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    </body>
</html>