{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'courses.no_courses'|trans}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <a href="{{path('new_course')}}" class="btn btn-success btn-lg">{{'courses.create_first'|trans}}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}