/* Common */
.btn-default {
    border-color: #2c3e50;
    background-color: #2c3e50;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
}

section h2, header h2 {
    margin-top: 40px;
    font-size: 32px;
    text-transform: none;
}

.form-group.controls input, .form-group.controls select {
    width: 100%;
}

.select2-container .select2-search--inline .select2-search__field {
    font-size: 1.5em;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple, .select2-container--open .select2-dropdown--below {
    border: none;
}

.select2-no-results {
    display: none !important;
}

section {
    padding: 112px 0;
}
/* End common */

/* Header */
.navbar-user.navbar-fixed-top.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
}

.navbar-user .container {
    min-height: 30px;
    background-color: #18bc9c;
    text-transform: none;
}

.navbar-user .container > div {
    margin-top: 3px;
}

.navbar-user .container a {
    color: #fff;
}

.navbar-user {
    min-height: 30px;
    z-index: 10;
}

@media (min-width: 768px) {
    .navbar-user.navbar-fixed-top.navbar-shrink {
        top: 80px;
    }
}

@media (max-width: 768px) {
    .navbar-user.navbar-fixed-top.navbar-shrink {
        top: 60px;
    }
}

.navbar-default {
    margin-bottom: 0;
}

header .container {
    padding-top: 113px;
}

header .container > hr, hr.star-primary {
    margin-top: 20px;
    margin-bottom: 50px;
}

.navbar-nav > li > div {
    color: #fff;
}

.navbar-nav > li > div, .navbar-nav > li > select {
    margin-top: 19.5px;
    margin-bottom: 19.5px;
}

.navbar-user .profile-dropdown a {
    color: #2c3e50;
}
/* End header */

/* Footer */
/*footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer .footer-below {
    color: #000;
    background-color: #fff;
}*/
/* End footer */

/* Home page */
.border-r {
    border-right: 2px solid #2c3e50;
}

header .intro-text .name {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
    background-color: #18bc9c;
    border-color: #18bc9c;
}

header .intro-text .name:hover {
    background-color: #95a5a6;
    border-color: #95a5a6;
}

header .intro-text {
    text-align: justify;
}

header .intro-text .skills {
    font-size: 1.25em;
}

header {
    background-color: #fff;
    color: #2c3e50;
}
/* End home page */

/* Grades page */
.grades-table.table a {
    text-decoration: none;
}
/* End grades page */