{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
<div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <p class="help-block text-danger"></p>
    </div>
</div>
{% endblock %}