{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block title %}{{'form.forgot_password'|trans}}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<section>
    <div class="container">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
</section>
{% endblock content %}
