{% extends 'PixelbonusSiteBundle::base.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span12 well text-center">
            <p>{{ 'redemption.invalid'|trans }}</p>
            <p><a class="btn" href="{{path('redeem')}}">{{ 'redemption.back'|trans }}</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
